/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    color: #333;
}

/* Header and Navigation Styles */
header {
    background-color: #00b3a1;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 10px;
}

nav a:hover, nav a:focus {
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Main Content Styles */
main {
    padding: 20px;
    text-align: center;
}

section, .student {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
}

h1, h2 {
    color: #333;
}

/* Footer Styles */
footer {
    background-color: #00b3a1;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.links-container {
    display: flex; 
    justify-content: space-around; 
}
.link-with-thumbnail {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    margin-right: 20px; 
}

.link-with-thumbnail a {
    text-decoration: none; 
    color: inherit; 
}

.thumbnail {
    width: 50px; 
    height: auto; 
    margin-bottom: 5px; 
}

a:hover .thumbnail {
    transform: scale(1.1); 
}   
/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}


